@import 'node_modules/reset.css/reset';
@import 'src/components/app/styles';
@import 'src/components/day/styles';
@import 'src/components/nav/styles';

#app {
  background: #fff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  width: 300px;
  padding: 20px;
}

html { 
  font-size: 62.5%; 
} 
body {
  background: #000;
  font-size: 1.4rem;
  font-family: 'Roboto', sans-serif;
}

header {
  margin-bottom: 10px;
}

section header {
  border-bottom: 1px solid #000;
  font-size: 3.4rem;
  padding: 0 0 10px;
  text-align: center;
}

article header {
  border: 0;
}

h1, h2 {
  padding: 0 0 10px;
}

h1 {
  font-size: 2.4rem;
}

h2 {
  font-size: 2rem;
  font-weight: 700;
}

p {
  font-size: 1.4rem;
}

footer {
  display: flex;
  justify-content: space-around;
}